.nav-item {
  margin-right: 10px;
}

.nav-link {
  cursor: pointer;
  color: #fff;
}

.nav-link--active {
    border: #D9F107 1px solid;
    background: #212529;
    color: #fff;
}

.home-nav-container{
  text-align: end;
}

.display-block {
  display: block !important;
}

.display-none {
  display: none !important;
}

.invalid {
  border-color: #dc3545;
  padding-right: calc(1.5em + 0.75rem);
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.error {
  color: red;
}

.btn.disabled, .btn:disabled {
  opacity: 0.50;
  color: #2e2e2e !important;
  background: grey !important;
  font-weight: 900;
}


.bg-dark {
  background-color: #1c1138 !important;
}

.alert {
  .close:not(:disabled):not(.disabled):focus,
  .close:not(:disabled):not(.disabled):hover {
    opacity: 0.75;
    outline: none;
  }
}

.modal-body {
  .row {
    .checkbox {
      margin-left: 25px;
      margin-top: 10px;
    }
  }
}

.alert {
  margin-bottom: 0;
}

.spinner-div {
  position: absolute;
  right: 0px;
  left: calc(50%);
  top: calc(50%);
  z-index: 10000;
  font-weight: 900;
  border-left-color: transparent;
  padding: 10px;
}

select:focus {
  outline: none;
}
