.details-div {
    text-align: center;
    .icon-font {
        font-size: 30px;
        color: #5d6d7e;
    }

    .card-selectAll-div{
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        label {
            font-weight: 600;
            margin-left: 10px;
            margin-right: 10px;
        }
        .sort-div {
            text-align: end;
            margin-right: 10px;
        }
    }

    .form-container {
        text-align: end;
        .collapse-form {
            margin: 10px;
            border: #2471a3 10px solid;
            text-align: center;
            padding: 10px;
        }
    }
    .list-table-view-link {
        list-style-type: none;
        display: inline-flex;
        .nav-link {
            cursor: pointer;
        }

        .nav-link--active {
            border-bottom: 3px solid #16643f;
        }
    }

    .multi-delete-form{
        text-align: end;
        background-color: #007bff0a;
    }

    .card,
    .table {
        thead {
            background: #5d6d7e;
            color: #f2f3f4;
            text-align: center;
            .th-sm {
                width: 50px;
            }
        }
        tbody {
            i {
                cursor: pointer;
            }
        }
        margin-bottom: 10px;
        margin-top: 10px;
        .form-control {
            display: block;
            width: 15px;
            height: 15px;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }
        .form-check-input {
            position: absolute;
            margin: 0;
        }

        .form-check {
            position: static;
            display: block;
            padding: 0;
        }
        
    }

    table,
    tr,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    .card-body {
        padding: 10px;
        background: #bbcee3;
        .btn {
            padding: 1px;
        }
        .btn.focus,
        .btn:focus {
            outline: 0;
            box-shadow: none;
        }
        .card-checkbox-div{
            text-align: end;
        }
    }
    .card-title {
        font-size: 25px;
        color: #04135e;
    }
    .card-subtitle {
        font-size: small;
        color: #641e16;
    }

    button {
        margin-top: 10px;
        margin-right: 10px;
    }

    .active-btn {
        border-bottom: 3px solid #16643f;
        text-decoration: none;
    }
    
    .list-table-view-link{
        .active-btn {
            border-bottom: 3px solid #16643f;
            text-decoration: none;
        }
    }

    .btn-secondary:not(:disabled):not(.disabled).active:focus,
    .btn-secondary:not(:disabled):not(.disabled):active:focus,
    .show > .btn-secondary.dropdown-toggle:focus {
        box-shadow: none !important;
    }

    .btn-secondary:not(:disabled):not(.disabled).active,
    .btn-secondary:not(:disabled):not(.disabled):active,
    .show > .btn-secondary.dropdown-toggle {
        color: #fff;
        background-color: #046117;
        border-color: #046117;
        box-shadow: none;
    }
}

.details-container {
    .card-container {
        overflow-y: auto;
        max-height: 600px;
    }

    .row {
        margin: 10px;
    }
    .btn {
        margin: 10px;
    }
}
